@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

// Primary Styles

// Variables
// fonts
@font-stack: 'Open Sans', sans-serif;

// colors
@primary-color: #f0f0f0;
@secondary-color: #f5fbff;
@primary-font-color: #3e3e3e;
@secondary-font-color: #64757e;
@utility-color: #3a7b99;
@bold: 700;

// mixins
.border {
  border-radius: 10px;
}

.input {
  border-radius: 3px;
  background-color: @secondary-color;
  padding: 15px;
  border: 1px solid black;
  margin: 5px 0;
}

.flex-display-row {
  display: flex;
  flex-direction: row;
}

.section-padding {
  padding: 35px 25px;
}

.header-text {
  font-size: 1.5rem;
  color: @primary-font-color;
  padding: 10px 0 15px 20px;
}

.content-text {
  color: @secondary-font-color;
  line-height: 3rem;
  margin-right: 25px;
}

.content-props {
  width: 60%;
  text-align: right;
  padding: 0 15px;
}

.button {
  border-radius: 3px;
  padding: 7px 25px;
  background: none;
  border: 1px solid black;
}

// desktop styling
body {
  background: @primary-color;
  margin: 50px 0 0 0;
}
.container {
  width: 960px;
  margin: 25px auto;
  .border;
  font-family: @font-stack;
  background: @secondary-color;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);

  .btn {
    padding: 10px;
    width: 205px;
    text-align: center;
    background: @primary-color;
    border: 1px solid @utility-color;
    .border;
    opacity: 0.6;
    transition: 0.3s;
  }

  .btn:hover {
    opacity: 1;
  }

  .intro-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .intro-img {
    text-align: center;
    padding: 10px 0;
  }

  .intro-img img {
    border-radius: 100%;
  }

  header {
    padding: 25px 0;
  }
  nav {
    .flex-display-row;
    justify-content: space-around;
  }

  a {
    font-weight: @bold;
    text-decoration: none;
    color: @primary-font-color;
    transition-duration: 0.15s;
  }

  a:hover {
    color: @secondary-font-color;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  section {
    .flex-display-row;
    .section-padding;
    justify-content: center;

    h2 {
      .header-text;
    }

    .content {
      .content-text;
      .content-props;
    }

    .form-container {
      padding-right: 10px;
    }

    .section-title {
      width: 25%;
    }
  }
  hr {
    border: 0.03rem solid @utility-color;
    width: 85%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  li {
    line-height: 2rem;
  }

  input[type='text'] {
    .input;
  }

  textarea {
    .input;
  }

  input[type='submit'] {
    .button;
  }
}

footer {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: @font-stack;
  color: @primary-font-color;
  margin-bottom: 50px;
}
